In [338]:
import numpy as np
import pandas as pd

In [339]:
data = pd.read_csv('train.csv', encoding='utf8')

### Cleaning data

In [340]:
data = data.drop('Healthcare_1', axis=1)
## Убираем признак Healthcare_1 т.к. очень много пропущенных значений

In [341]:
data.loc[data['HouseYear'] == 2011, 'HouseYear'] = 2008

In [342]:
data.loc[data['Id'] == 10814]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
1497,10814,109,1.0,37.26507,20.239714,9.0,9,12.0,2008,0.13633,B,B,30,6141,10,3,6,B,254084.534396

In [343]:
data.loc[data['Rooms'] == 10, 'Rooms'] = 2
data.loc[data['Rooms'] == 19, 'Rooms'] = 1

In [344]:
data.loc[data['Id'].isin([5927, 8491, 14865])]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
377,5927,57,2.0,59.056975,36.223072,10.0,22,22.0,2002,0.090799,B,B,74,19083,2,5,15,B,317265.323792
1454,8491,1,1.0,42.006046,21.779288,7.0,17,17.0,2014,0.007122,B,B,1,264,0,0,1,B,78364.616704
8849,14865,9,2.0,60.871266,38.420681,10.0,3,2.0,1994,0.161532,B,B,25,5648,1,2,4,B,172329.270863

In [345]:
index_arr1 = data.loc[(data['LifeSquare'] - data['Square']) > 5, :].index

In [346]:
data.loc[index_arr1, :]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
212,1748,88,2.0,5.497061,67.628717,1.0,24,22.0,1977,0.127376,B,B,43,8429,3,3,9,B,412511.088764
590,14990,23,2.0,48.449873,263.542020,5.0,6,5.0,1972,0.075779,B,B,6,1437,3,0,2,B,141780.231857
3280,10527,27,1.0,4.380726,40.805837,1.0,10,17.0,2013,0.211401,B,B,9,1892,0,0,1,B,97560.720383
4328,16550,27,3.0,81.694417,7480.592129,1.0,9,17.0,2016,0.017647,B,B,2,469,0,0,0,B,217357.492366
4638,4071,6,3.0,75.203314,82.486992,1.0,13,25.0,2015,0.243205,B,B,5,1564,0,0,0,B,211324.917957
6332,8961,27,1.0,33.398983,164.153360,6.0,3,5.0,1965,0.211401,B,B,9,1892,0,0,1,B,104891.073757
8030,13265,1,3.0,4.823679,79.767964,0.0,6,17.0,1977,0.007122,B,B,1,264,0,0,1,B,237716.681261
8437,15886,85,3.0,78.059331,461.463614,10.0,12,16.0,1998,0.037178,B,B,52,11217,1,1,7,B,394253.299978

In [347]:
### Посмотреть и скорректировать слишком большие и слишком маленькие по площади квартиры

In [348]:
def prepare_square(df):
    df.loc[df['Square'] > (df['Rooms'] * 40 + 40), 'Square'] = df['Rooms'] * 40 + 40
    df.loc[df['Square'] < (df['Rooms'] * 15), 'Square'] = df['Rooms'] * 15
    df.loc[df['Square'] < 15, 'Square'] = 15
    return df

In [349]:
def prepare_lifesquare(df):
    df.loc[df['Square'] < df['LifeSquare'], 'LifeSquare'] = df['Square']
    df.loc[df['LifeSquare'] < 15, 'LifeSquare'] = df['Square']
    return df

In [350]:
def prepare_data_square(df):
    df = prepare_square(df)
    df = prepare_lifesquare(df)
    return df

In [351]:
data = prepare_data_square(data)

In [352]:
data['Square'].describe()

count    10000.000000
mean        56.061895
std         18.626468
min         15.000000
25%         41.780320
50%         52.509275
75%         65.894295
max        240.000000
Name: Square, dtype: float64

In [353]:
data['LifeSquare'].describe()

count    7887.000000
mean       37.371417
std        17.021387
min        15.000000
25%        23.538881
50%        33.413218
75%        45.725299
max       233.949309
Name: LifeSquare, dtype: float64

In [354]:
data['LifeSquare'] = data['LifeSquare'].fillna(data['Square'])
# заполнить NaN значение

In [355]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 19 columns):
Id               10000 non-null int64
DistrictId       10000 non-null int64
Rooms            10000 non-null float64
Square           10000 non-null float64
LifeSquare       10000 non-null float64
KitchenSquare    10000 non-null float64
Floor            10000 non-null int64
HouseFloor       10000 non-null float64
HouseYear        10000 non-null int64
Ecology_1        10000 non-null float64
Ecology_2        10000 non-null object
Ecology_3        10000 non-null object
Social_1         10000 non-null int64
Social_2         10000 non-null int64
Social_3         10000 non-null int64
Helthcare_2      10000 non-null int64
Shops_1          10000 non-null int64
Shops_2          10000 non-null object
Price            10000 non-null float64
dtypes: float64(7), int64(9), object(3)
memory usage: 1.3+ MB

In [356]:
## корректировка этажности

In [357]:
data.loc[data['HouseFloor'] == 0, :].shape

(269, 19)

In [358]:
def prepare_housefloor(df):
    mean_housefloor = np.round(df.loc[df['HouseFloor'] !=0, 'HouseFloor'].mean())
    df.loc[df['HouseFloor'] == 0, 'HouseFloor'] = mean_housefloor
    return df

In [359]:
def prepare_floor(df):
    df.loc[df['Floor'] > df['HouseFloor'], 'Floor'] = df['HouseFloor']
    data.loc[data['Floor'] == 0, 'Floor'] = 1
    return df

In [360]:
def prepare_data_floor(df):
    df = prepare_housefloor(df)
    df = prepare_floor(df)
    return df

In [361]:
data = prepare_data_floor(data)

In [362]:
data['HouseFloor'].describe()

count    10000.00000
mean        12.95910
std          6.44346
min          1.00000
25%          9.00000
50%         13.00000
75%         17.00000
max        117.00000
Name: HouseFloor, dtype: float64

In [363]:
data['Floor'].describe()

count    10000.000000
mean         7.918200
std          5.186386
min          1.000000
25%          4.000000
50%          7.000000
75%         11.000000
max         42.000000
Name: Floor, dtype: float64

In [364]:
# добавление колонки со средней ценой

In [365]:
stat1 = data.groupby(['DistrictId', 'Rooms'], as_index=False)[['Price']].mean().rename(columns={'Price':'mean_price'})

In [366]:
stat2 = data.groupby(['Rooms'], as_index=False)[['Price']].mean().rename(columns={'Price':'mean_price2'})

In [367]:
mean_price3 = data['Price'].mean()

In [368]:
def add_mean_price(df, stat1=stat1, stat2=stat2, mean_price=mean_price3):
    df = pd.merge(df, stat1, on=['DistrictId', 'Rooms'], how='left')
    df = pd.merge(df, stat2, on='Rooms', how='left')
    
    df['mean_price2'] = df['mean_price2'].fillna(mean_price3)
    df['mean_price'] = df['mean_price'].fillna(df['mean_price2'])
    return df

In [369]:
data = add_mean_price(data)

### train_test_split

In [370]:
from sklearn.model_selection import train_test_split

In [371]:
train, valid = train_test_split(data, test_size=0.3, random_state=42)

In [372]:
train.shape, valid.shape

((7000, 21), (3000, 21))

### 2 groups of DistrictId

In [373]:
train['DistrictId'].value_counts().head(10) ## 10 районов с большим кол-ом квартир

27    574
1     466
23    394
6     355
9     222
62    175
30    160
53    133
58    118
21    107
Name: DistrictId, dtype: int64

In [374]:
distr_size = (train['DistrictId'].value_counts() > 180).astype(int).reset_index()
distr_size.columns = ['DistrictId', 'large_district']
distr_size.head(8)

   DistrictId  large_district
0          27               1
1           1               1
2          23               1
3           6               1
4           9               1
5          62               0
6          30               0
7          53               0

In [375]:
def add_distr_size(df, distr_size):
    df = pd.merge(df, distr_size, on='DistrictId', how='left')
    df['large_district'] = df['large_district'].fillna(0)
    return df

In [376]:
train = add_distr_size(train, distr_size)

In [377]:
#train.info()

In [378]:
valid = add_distr_size(valid, distr_size)

In [379]:
#valid.info()

### Model

In [380]:
from sklearn.ensemble import RandomForestRegressor as RF

In [381]:
model = RF(n_estimators=20, max_depth=12, random_state=42)

In [382]:
train.columns

Index(['Id', 'DistrictId', 'Rooms', 'Square', 'LifeSquare', 'KitchenSquare',
       'Floor', 'HouseFloor', 'HouseYear', 'Ecology_1', 'Ecology_2',
       'Ecology_3', 'Social_1', 'Social_2', 'Social_3', 'Helthcare_2',
       'Shops_1', 'Shops_2', 'Price', 'mean_price', 'mean_price2',
       'large_district'],
      dtype='object')

In [383]:
feats = ['Rooms', 
         'Square', 
         'HouseYear',
         'Floor',
         'DistrictId',
         'Helthcare_2',
         'mean_price'
        ]

In [384]:
model.fit(train.loc[:, feats], train['Price'])

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=12,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=20, n_jobs=None,
           oob_score=False, random_state=42, verbose=0, warm_start=False)

### Predict on train and valid

In [385]:
from sklearn.metrics import r2_score as r2

In [386]:
def get_prediction(model, df, feats=feats, evaluate='Yes'):
    pred = model.predict(df.loc[:, feats])
    if evaluate == 'Yes':
        r2_value = r2(df['Price'], pred)
        print('R2: {}'.format(r2_value))
    return pred

In [387]:
pred_train = get_prediction(model=model, df=train)

R2: 0.9101002802336497

In [388]:
pred_train.shape

(7000,)

In [389]:
pred_valid = get_prediction(model=model, df=valid)

R2: 0.7241021670800735

In [390]:
pred_valid.shape

(3000,)

### Predict on test

In [391]:
test = pd.read_csv('test.csv', encoding='utf8')

In [392]:
test.shape

(5000, 19)

In [393]:
test = prepare_data_square(test)
test = prepare_data_floor(test)
test = add_mean_price(test)

In [394]:
test['LifeSquare'] = data['LifeSquare'].fillna(data['Square'])

In [395]:
test.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,mean_price,mean_price2
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,2623.000000,5000.00000,5000.000000,5000.000000,5000.000000
mean,8412.595400,51.279200,1.910000,56.394691,42.217611,5.976800,8.054000,12.941600,1984.392600,0.119874,24.933800,5406.900000,8.262600,1146.657263,1.31940,4.242800,215241.274020,215232.148705
std,4832.674037,44.179466,0.838594,18.896083,19.805177,9.950018,5.337076,6.466881,18.573149,0.120070,17.532202,4026.614773,23.863762,1044.744231,1.47994,4.777365,72744.852567,53435.029461
min,1.000000,0.000000,0.000000,15.000000,15.000000,0.000000,1.000000,1.000000,1908.000000,0.000000,0.000000,168.000000,0.000000,0.000000,0.00000,0.000000,84250.557673,159828.813091
25%,4221.750000,21.000000,1.000000,41.906231,27.930006,1.000000,4.000000,9.000000,1973.000000,0.019509,6.000000,1564.000000,0.000000,325.000000,0.00000,1.000000,166014.055413,159828.813091
50%,8320.500000,37.000000,2.000000,52.921340,38.640121,6.000000,7.000000,13.000000,1977.000000,0.072158,25.000000,5285.000000,2.000000,900.000000,1.00000,3.000000,198777.278269,215271.525886
75%,12598.250000,77.000000,2.000000,66.285129,51.043896,9.000000,12.000000,17.000000,2000.000000,0.195781,36.000000,7287.000000,5.000000,1548.000000,2.00000,6.000000,246262.924161,215271.525886
max,16795.000000,212.000000,17.000000,255.000000,233.949309,620.000000,46.000000,99.000000,2020.000000,0.521867,74.000000,19083.000000,141.000000,4849.000000,6.00000,23.000000,593618.746096,410431.605679

In [396]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 4999
Data columns (total 21 columns):
Id               5000 non-null int64
DistrictId       5000 non-null int64
Rooms            5000 non-null float64
Square           5000 non-null float64
LifeSquare       5000 non-null float64
KitchenSquare    5000 non-null float64
Floor            5000 non-null float64
HouseFloor       5000 non-null float64
HouseYear        5000 non-null int64
Ecology_1        5000 non-null float64
Ecology_2        5000 non-null object
Ecology_3        5000 non-null object
Social_1         5000 non-null int64
Social_2         5000 non-null int64
Social_3         5000 non-null int64
Healthcare_1     2623 non-null float64
Helthcare_2      5000 non-null int64
Shops_1          5000 non-null int64
Shops_2          5000 non-null object
mean_price       5000 non-null float64
mean_price2      5000 non-null float64
dtypes: float64(10), int64(8), object(3)
memory usage: 800.8+ KB

In [397]:
test['Price'] = get_prediction(model, test, evaluate='No')

In [398]:
test['Price'].describe()

count      5000.000000
mean     214541.873970
std       79062.928844
min       65143.695648
25%      164062.553413
50%      193810.026239
75%      245768.671048
max      574940.303744
Name: Price, dtype: float64

In [399]:
test.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,mean_price,mean_price2,Price
0,725,58,2.0,49.882643,29.442751,6.0,6.0,14.0,1972,0.310199,...,11,2748,1,NaN,0,0,B,172368.882269,215271.525886,166597.793549
1,15856,74,2.0,69.263183,40.049543,1.0,1.0,1.0,1977,0.075779,...,6,1437,3,NaN,0,2,B,236250.931918,215271.525886,241233.359744
2,5480,190,1.0,15.000000,29.197612,12.0,2.0,5.0,1909,0.000000,...,30,7538,87,4702.0,5,5,B,159828.813091,159828.813091,99455.019619
3,15664,47,2.0,73.046609,52.731512,9.0,22.0,22.0,2007,0.101872,...,23,4583,3,NaN,3,3,B,206507.966738,215271.525886,302400.427837
4,14275,27,1.0,47.527111,23.776169,1.0,17.0,17.0,2017,0.072158,...,2,629,1,NaN,0,0,A,122710.743033,159828.813091,138364.911027

In [400]:
test.loc[:, ['Id', 'Price']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 4999
Data columns (total 2 columns):
Id       5000 non-null int64
Price    5000 non-null float64
dtypes: float64(1), int64(1)
memory usage: 117.2 KB

In [401]:
test.loc[:, ['Id', 'Price']].to_csv('SCherepanova_predictions.csv', index=None)